<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="baseline_system.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="DefaultConnection"
    connectionString="Data Source=DESKTOP-VINEZI\SQLEXPRESS;Initial Catalog=Project Manager;Integrated Security=True"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <baseline_system.Properties.Settings>
      <setting name="admStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="currentUserName" serializeAs="String">
        <value>No Name</value>
      </setting>
    </baseline_system.Properties.Settings>
  </userSettings>
</configuration>